<div class="container-fluid">
	<%= render 'layouts/header' %>
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list copperplate">
				<li>
					<a href="/">Blog</a>
				</li>
				<li>
					<a href="/games">Games</a>
				</li>
				<li>
					<a href="/tech">Technologies</a>
				</li>
				<li>
					<a href="/tutorials">Tutorials</a>
				</li>
				<li class="active">
					<a href="/about">Who are Wizard Shapes?</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">Sign In...</a>
				</li>
			</ul>
		</div>
		<div class="span9">
			<div class="thumbnail solid-black">
				<div>
					<h3>
						Who Are Wizard Shapes?
					</h3>
					<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta avida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>