 @font-face
{
    font-family: caveman;
    src: local("caveman"), url("/assets/fonts/caveman.ttf") format("truetype");
}

 @font-face
{
    font-family: wedgie;
    src: local("wedgie"), url("/assets/fonts/wedgie.ttf") format("truetype");
}

 @font-face
{
    font-family: oxy;
    src: local("oxy"), url("/assets/fonts/OXYGENE1.ttf") format("truetype");
}

#walker {
    position: relative;
    -webkit-animation: walkdude 20s infinite;
    animation: walkdude 20s infinite;
}
@-webkit-keyframes walkdude {
    0% {
        left:90%;
    }
    50%{
        left:0%
    }
    100% {
        left: 90%;
    }
}
@keyframes walkdude {
    0% {
        left:90%;
    }
    50%{
        left:0%
    }
    100% {
        left: 90%;
    }
}

@import "bootstrap";

body {
    background-image: url(black_lozenge.png);
    background-repeat:repeat;
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	
	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}

#screen canvas {
    margin: auto;

    /* Hide the gap for font descenders. */
    display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.turd {
    font-family: wedgie;
    font-size: 4.5em;
}

.solid-black{
    background-image: none;
    background-color: #0D0D0D;
}

.copperplate{
    font-family: 'Georgia', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}
